@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body{
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	background: linear-gradient(107.54deg, #1d2e81 -2.16%, #F1F1F1 110.23%);
	min-height: 969px;
}

html, input, button{
	font-family: 'Roboto', sans-serif;

}
.nav {
box-sizing: border-box;
position: absolute;
width: 500px;
height: 850px;
left: 57px;
top: 100px;

background: linear-gradient(187.02deg, #001c50 -73.55%, rgba(0, 0, 0, 0) 96.53%);
background-blend-mode: multiply;
mix-blend-mode: normal;
border: 1px solid #000000;
box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.25);
border-radius: 20px;
text-align: center;
align-items: center;
}
.logonav{
	margin-top: -2.8px;
    margin-left: -3px;
	width: 200px;
	height: 200px;
	border: 3px solid #000000;
	border-radius: 1000px;
	mix-blend-mode: darken;
}
.logo{
	width: 150px;
	height: 150px;
	border: 3px solid #000000;
	border-radius: 200px;
	mix-blend-mode: darken;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
.logobox{
width: 200px;
height: 200px;
text-align: center;
background: linear-gradient(156.85deg, rgba(217, 217, 217, 0.4) 2.99%, rgba(217, 217, 217, 0.1) 97.76%);
/*box-shadow: 29px 8px 39px rgba(184, 184, 184, 0.31);*/
border-radius: 200px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}
.objnav{
width: 425px;
height: 150px;
left: 94px;
top: 358px;
margin:auto;
margin-top: 30px;
background: linear-gradient(156.85deg, rgba(217, 217, 217, 0.4) 2.99%, rgba(217, 217, 217, 0.1) 97.76%);
/*box-shadow: 29px 8px 39px rgba(184, 184, 184, 0.31);*/
border-radius: 20px;
}

.mainobj{
position: absolute;
width: 350px;
height: 373px;
left: 728px;
top: 576px;
background: linear-gradient(156.85deg, rgba(217, 217, 217, 0.4) 2.99%, rgba(217, 217, 217, 0.1) 97.76%);
box-shadow: 29px 8px 39px rgba(184, 184, 184, 0.31);
border-radius: 20px;
}

.txtmain{
    width: 300px;
    height: 100px;
    left: 800px;
    top: 780px;
    margin-left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #F9F9F9;
    margin-top: 15px
}
.logoobj{
width: 150px;
height: 150px;
text-align: center;
background: linear-gradient(156.85deg, rgba(217, 217, 217, 0.4) 2.99%, rgba(217, 217, 217, 0.1) 97.76%);
/*box-shadow: 29px 8px 39px rgba(184, 184, 184, 0.31);*/
mix-blend-mode: darken;
margin-top: 20px;
margin-left: 25px;
}

.oimg{
	width: 200px;
    margin: auto;
    margin-top: 15px;
    height: 200px;
    padding-bottom: 0;
    border: 5px solid #000000;
    border-radius: 200px;
   }
